<!DOCTYPE html>
<!-- La barre latérale -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Gestionnare de Prison de Nantes</h3>
    </div>
    <ul class="list-unstyled components">
        <p style="text-align: center">Menu</p>
        <li class="active">
            <a href="/">Détenus</a>
        </li>
        <li>
            <a href="/decision">Décider</a>
        </li>
        <li>
            <a href="/incarcerate">Incarcérer</a>
        </li>
        <li>
            <a href="/preventive">Preventive</a>
        </li>
    </ul>
</nav>