<!DOCTYPE html>
<!-- La barre latérale -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Gestionnare de Prison de Nantes</h3>
    </div>
    <ul class="list-unstyled components">
        <p style="text-align: center">Menu</p>
        <li id="index">
            <a href="/">Détenus</a>
        </li>
        <li id="decision">
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Decider</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li id="condamnation">
                    <a href="/condamnation">Condamner</a>
                </li>
                <li id="reduction">
                    <a href="/reduire">Reduire Peine</a>
                </li>
                <li id="liberation">
                    <a href="/liberer">Liberer Definitivement</a>
                </li>
            </ul>
        </li>
        <li id="incarcerate">
            <a href="/incarcerate">Incarcérer</a>
        </li>
        <li id="preventive">
            <a href="/preventive">Preventive</a>
        </li>
    </ul>
</nav>