<!DOCTYPE html>
<!-- La barre latérale -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Gestionnare de Prison de Nantes</h3>
    </div>
    <ul class="list-unstyled components">
        <p style="text-align: center">Menu</p>
        <li class="active">
            <a href="#homeSubmenu" aria-expanded="false">Détenus</a>
        </li>
        <li>
            <a href="#">Décider</a>
        </li>
        <li>
            <a href="#">Incarcérer</a>
        </li>
        <li>
            <a href="#">Preventive</a>
        </li>
    </ul>
</nav>